@{
  Layout="Shared/_Layout.cshtml";
}
<h3>Here is the contact information for @Model.GetName()</h3>
<ul>
  <li>@Model.GetPhone()</li>
  <li>@Model.GetAddress()</li>
</ul>

<p><a href="/">Home</a></p>
