@{
  Layout="Shared/_Layout.cshtml";
}
<h3>Here is the contact information for @Model.GetName()</h3>
<ul>
  <li>@Model.GetPhone()</li>
  <li>@Model.GetAddress()</li>
</ul>

<form action="/contact/@Model.GetId()/cleared" method="post">
  <button type="submit" class="btn" name="button">Remove this contact</button>
</form>

<p><a href="/">Home</a></p>
