@{
  Layout="Shared/_Layout.cshtml";
}

<h4>Add new contact here</h4>
<form action="/contact/new/form" method="post">
  <label for="new-name">Name: </label>
  <input type="text" name="new-name" id="new-name">

  <button type="submit" class="btn">Submit</button>
</form>
