@{
  Layout="Shared/_Layout.cshtml";
}

<h4>Add new contact here</h4>
<form action="/contact/new" method="post">
  <label for="new-name">Name: </label>
  <input type="text" name="new-name" id="new-name">

  <label for="new-phone">Phone: </label>
  <input type="text" name="new-phone" id="new-phone">

  <label for="new-address">Address: </label>
  <input type="text" name="new-address" id="new-address">

  <button type="submit" class="btn">Submit</button>
</form>
